.contacts {
    margin-top: 11px;
    width: 173px;
    text-align: right;
}

.contacts__phone {
    font-weight: bold;
    font-size: 21px;
    color: inherit;
    text-decoration: none;
}

.contacts__dropdown {
    position: relative;
    display: inline-flex;
}

.contacts__dropdown:hover .contacts__dropdown-menu {
    right: 0;
    display: block;
    opacity: 1;
    
}

.contacts__dropdown:hover .contacts__dropdown-btn {
    color: rgba(255, 255, 255, 1);
    transition-duration: 0.2s;
    
}

.contacts__dropdown-menu:after {
    content: "";
    position: absolute;
    left: 157px;
    top: -15px;
    border: 9px solid transparent;
    border-bottom-color: #fff;
}

.contacts__dropdown:hover .contacts__dropdown-menu {
    right: 0;
    z-index: 20;
    display: block;
    top: 160%;
}

.contacts__dropdown-btn {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-decoration: underline;
    padding: 0;

}

.contacts__dropdown-menu {
    position: absolute;
    background: #fff;
    font-size: 14px;
    line-height: 1em;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    width: 163px;
    top: 100%;
    text-align: left;
    display: none;
    opacity: 0;
    transition: opacity .4s;
}

.contacts__dropdown-menu:before {
    content: "";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.contacts__dropdown_schedule {
    color: #1c5bc3;
    font-weight: 700;
}

.contacts__dropdown_break-time {
    color: #221f1f;
    font-weight: 300;
}