.faq {
    width: 100%;
    background-color: #4bb56b;
    min-height: 170px;
    display: flex;
    background-image: url('../img/pattern.png');
    
}

.faq__text {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    min-height: 80px;
    line-height: 1.7em;
    width: 625px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 24px 0px;
}

.faq__text_mark-request {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
}

.faq__text_mark-number {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}