.faq {
    max-width: 277px;
    background-color: #4b73b5;
    display: flex;
    background-image: url('../img/pattern.png');
    margin-bottom: 30px;
    
}

.faq__text {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    min-height: 80px;
    line-height: 1.7em;
    width: 625px;
    margin: 0 auto;
    padding: 30px 13px;
}

.faq__text_mark-request {
    font-weight: 700;
    text-decoration: underline;
    color: #fff;
}

.faq__text_mark-number {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}