
.footer {
    flex: 1 0 auto;
    min-height: 75px;
    width: 100%;
    background-color: #4b73b5;
}

.footer__info {
    float: left;
    width: 237px;
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 11px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__info a {
    color: #fff;
    font-weight: 700;
}

.footer__logo {
    width: 123px;
    margin-top: 25px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__title {
    font-weight: 700;
    color: #2d1d1d;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

/*
.footer__social {

    width: 156px;
    color: #fff;
    margin-top: 20px;
}

.footer__social h3 {
    font-weight: 700;
    font-size: 14px;
}*/

.social__list {
    display: flex;
    margin-left: 10px;
}

.social__list li {
    margin-right: 15px;
}

.social__icon_link {
    display: flex;
    text-align: center;
    padding: 2px;
}

.social__item_link-pic {
    width: 15px;
    height: 15px;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    
}



.social__item_link-pic-vk{
    background-position: -120px -86px;
}

.social__item_link-pic-fb {
    background-position: -55px -5px;
}

.social__item_link-pic-google {
    background-position: -72px -33px;
}

.social__item_link-pic-twit {
    background-position: -99px -86px;
}

.social__item_link-pic-mail {
    background-position: -101px -5px;
}

.social__item a {
    cursor: pointer;
}