.form__container {
display: flex;
justify-content: center;
align-content: center;
margin-top: 60px;
}    

.form {
display: flex;
justify-content: center;
align-content: center;
flex-flow: column wrap;
width: 700px;
background-color: #f5f5f5;
border-radius: 3px;
margin-left: 200px;
margin-right: 200px;
margin-top: 58px;
margin-bottom: 52px;
padding: 35px 66px;
}


.form__user-info {
    display: flex;
    justify-content: space-between;
    max-width: 560px;
    margin-bottom: 20px;
}

.form__label, .form__question-checkbox-text {
    font-weight: 300;
    font-size: 14px;
    color: #221f1f;
}

.form__input-text {
    width: 270px;
    border-radius: 3px;
    border: none;
    padding-bottom: 17px;
    padding-top: 17px;
    padding-left: 10px;
    margin-right: 20px;
}


.form__user-review-text {
    width: 560px;
    border-radius: 3px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    min-height: 90px;
}

.form__button {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}

.form__button_send {
    width: 155px;
    height: 45px;
    background-color: #4b73b5;
    color: #fff;
    border-radius: 3px;
    border: none;
}

.form__button_name {
    min-width: 116px;
    min-height: 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.form__button_name::after {
content: "";
background-image: url('./img/button-icon.png') no-repeat;
width: 15px;
height: 15px;
}

