.sidebar {
    width: 26%;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 70px;
}

.menu__link {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #4b73b5;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link:hover {
    color: #221f1f;
}

.menu__link::before {
    content: "";
    margin-right: 16px;
    width: 24px;
    height: 18px;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
}

.menu__link_active {
    color: black;
}

.menu__link_plane:before {
    background-position: -72px -61px;
}

.menu__link_plane:hover::before {
    background-position: -97px -33px;
}

.menu__link_active_plane:before {
    background-position: -97px -33px;
}

.menu__link_reviews:before {
    background-position: -71px -5px;
}

.menu__link_reviews:hover::before {
    background-position: -5px -33px;
}

.menu__link_active_reviews:before {
    background-position: -5px -33px;
}

.menu__link_team:before {
    background-position: -5px -86px;
}

.menu__link_team:hover::before {
    background-position: -38px -86px;
}

.menu__link_active_team:before {
    background-position: -38px -86px;
}