
.tariffs {
    margin-bottom: 30px;
}


.tariffs__item {
    max-width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-top: 23px;
    border-radius: 5px;
    border: 1px solid #e8e9ed;
}


.tariffs__name {
    margin-left: -30px;
}

.tariffs__name-top {
    color: #221f1f;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
}


.tariffs__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8em;
    text-align: left;
}

.tariffs__description-list li {
list-style-type: disc;
text-align: left;
}

.tariffs__description-list {
    padding-left: 20px;
    margin-bottom: 26px;
}

.tariffs__description-item {
    padding-left: 10px;
}

.tariffs__price {
text-align: center;
margin-left: -30px;
margin-bottom: 30px;
}

.tariffs__price_dollar {
    font-size: 27px;
    font-weight: 400;
}

.tariffs__price_number {
    font-size: 54px;
    font-weight: 400;
    padding-left: 4px;
}
